// MIXIN & RESET
@import 'mixin/__index';
:root {
    --color-text: #000000;
    --color-bg: #fff;
    --color-effect: #b80000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    @include sr-only;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    background-color: var(--color-bg);
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-text);
}

// START HEADER

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 5rem;
    border-bottom: 2px solid var(--color-effect);

    .logo {
        width: 3rem;

        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    .h1 {
        margin-left: 1rem;
        font-size: 2rem;
    }  
}

// END HEADER

// START MAIN

.main {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 5rem;
    width: 100%;
    max-width: 102.4rem;

    form {
        margin: 0 auto;
        padding: 2rem 0 0 0;
        width: 80%;
        height: 100%;

        fieldset {
            padding: 2rem 5rem;
            border: none;
        
            legend {
                font-size: 2rem;
            }
        }

        div {
           padding: 1rem 0;
           position: relative;

           input[type=checkbox] {
                @include sr-only;
            
                &:checked + label {
                    &::after {
                        background-color: var(--color-text);
                    }
            
                    background-color: rgba($color: rgb(0, 47, 255), $alpha: 0.3);
                }
            
                &:focus + label {
                    outline: .2rem dashed var(--color-text);
                    outline-offset: .4rem;
                }
            }
            
            label {
                position: relative;
                display: block;
                padding: 0.4rem 0.4rem 0.4rem 3rem;
            
                &::before,
                &::after {
                    position: absolute;
                    content: '';
                }
            
                &::before {
                    display: block;
                    top: 0.7rem;
                    left: 1rem;
                    width: 1rem;
                    height: 1rem;
                    background-color: var(--color-bg);
                    border: 0.2rem solid var(--color-text);
                }
            
                &::after {
                    display: block;
                    top: 1.1rem;
                    left: 1.4rem;
                    width: 0.6rem;
                    height: 0.6rem;
                    background-color: var(--color-bg);
                }
            }
        }
    }

    .compteur {
        margin: 1rem 0 0;
        width: 20%;
        text-align: center;
        
        p {
            padding: 1rem;
            border-radius: 1rem;
            background-color: #dddddd;
            font-size: 1.4rem;
            border: 2px solid var(--color-effect);
        }
    }
}

// END MAIN

// START FOOTER

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
    background-color: #ebebeb;
    font-size: 1.4rem;
    border-top: 2px solid var(--color-effect);

}

// END FOOTER